$link: none;
$text-link: black;
$reaction-link: red;

.link-navegation {
    color: $text-link;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 350px;
    bottom: 50px;
    text-decoration: $text-link;
}

.link-navegation:hover {
    color: $reaction-link;
}