.buy {
    background-color: #263F64;
    border-radius: 30px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 18px;
    position: relative;
    left: 30px;
    top: 30px;
    text-decoration: none;
}

.video {
    color: #263F64;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 50px;
    top: 30px;
    text-decoration: none;
}

.video img {
    position: relative;
    right: 10px;
    top: 2px;
}