.link-navegation {
    color: #263F64;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 370px;
    bottom: 40px;
    text-decoration: none;
}

.element-site {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 400px;
    bottom: 40px;
}

.login {
    color: #263F64;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 1070px;
    bottom: 60px;
}

.register {
    background-color: #263F64;
    border-radius: 30px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 18px;
    position: relative;
    left: 1070px;
    bottom: 60px;
    text-decoration: none;
}