$link: none;
$text-link: black;
$reaction-link: #ACACAC;

.register {
    color: #ACACAC;
    margin-left: 1000px;
    position: relative;
    bottom: 70px;
}

.login {
    background-color: #ACACAC;
    color: white;
    margin-left: 1100px;
    padding: 14px;
    position: relative;
    bottom: 88px;
    text-decoration: $link;
}