.login {
    color: red;
    position: relative;
    left: 1050px;
    bottom: 70px;
}

.register {
    background-color: red;
    border-radius: 4px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
    position: relative;
    left: 1100px;
    bottom: 70px;
    text-decoration: none;
}